# Telegram Bot
python-telegram-bot

# Scheduler for periodic stock checks
apscheduler

# HTTP requests & HTML parsing
requests
beautifulsoup4

# MongoDB
pymongo[srv]
dnspython

# Flask for keep-alive endpoint
Flask

# Gunicorn for Render deployment
gunicorn
pytz
